services/blog-comments/config/config.json
services/blog-posts/config/config.json
services/users/config/config.json

services/blog-comments/node_modules/*
services/blog-posts/node_modules/*
services/users/node_modules/*
